---
- name: Create node_exporter user
  user:
    name: "{{ node_exporter_user }}"
    system: yes
    shell: /usr/sbin/nologin
  tags: [node_exporter]

- name: Download Node Exporter
  get_url:
    url: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz"
    dest: /tmp/node_exporter.tar.gz
  tags: [node_exporter]

- name: Extract Node Exporter
  unarchive:
    src: /tmp/node_exporter.tar.gz
    dest: /tmp
    remote_src: yes
  tags: [node_exporter]

- name: Install Node Exporter binary
  copy:
    src: "/tmp/node_exporter-{{ node_exporter_version }}.linux-amd64/node_exporter"
    dest: /usr/local/bin/node_exporter
    mode: '0755'
    remote_src: yes
  tags: [node_exporter]

- name: Create systemd service
  copy:
    content: |
      [Unit]
      Description=Node Exporter
      After=network.target

      [Service]
      User={{ node_exporter_user }}
      Group={{ node_exporter_user }}
      Type=simple
      ExecStart=/usr/local/bin/node_exporter

      [Install]
      WantedBy=multi-user.target
    dest: /etc/systemd/system/node-exporter.service
  tags: [node_exporter]

- name: Start Node Exporter
  systemd:
    name: node-exporter
    state: started
    enabled: yes
    daemon_reload: yes
  tags: [node_exporter]
