---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: "{{ apt_cache_valid_time }}"
  tags: [system]

- name: Install common packages
  apt:
    name: "{{ item }}"
    state: present
  loop: "{{ common_packages }}"
  tags: [packages]
