---
- name: Copy Grafana GPG key to target host
  copy:
    src: grafana-gpg.key
    dest: /tmp/grafana-gpg.key
    mode: '0644'
  tags: [grafana]

- name: Add Grafana GPG key from copied file
  apt_key:
    file: /tmp/grafana-gpg.key
    state: present
  tags: [grafana]

- name: Remove temporary key file
  file:
    path: /tmp/grafana-gpg.key
    state: absent
  tags: [grafana]

- name: Download Grafana 11.5.2 .deb package
  get_url:
    url: "https://dl.grafana.com/oss/release/grafana_11.5.2_amd64.deb"
    dest: /tmp/grafana_11.5.2_amd64.deb
    mode: '0644'
    validate_certs: yes
    timeout: 30
  register: download_result
  retries: 3
  delay: 5
  until: download_result is success
  tags: [grafana]

- name: Install Grafana from .deb package
  apt:
    deb: /tmp/grafana_11.5.2_amd64.deb
    state: present
  tags: [grafana]

- name: Remove downloaded .deb package
  file:
    path: /tmp/grafana_11.5.2_amd64.deb
    state: absent
  tags: [grafana]

- name: Configure Grafana
  template:
    src: grafana.ini.j2
    dest: /etc/grafana/grafana.ini
  notify: restart grafana
  tags: [grafana]

- name: Start and enable Grafana
  systemd:
    name: grafana-server
    state: started
    enabled: yes
    daemon_reload: yes
  tags: [grafana]
  
  #####
  
- name: Import Grafana dashboards
  include_tasks: dashboards.yml
  vars:
    grafana_host: "{{ grafana_host }}"  # из all.yml
    grafana_admin_user: "{{ grafana_admin_user | default('admin') }}"
    grafana_admin_password: "{{ grafana_admin_password | default('admin') }}"
    prometheus_ip: "10.0.10.20"  
  tags: [grafana, dashboards]
