---
- name: Install Elasticsearch
  hosts: elasticsearch
  become: yes
  
  roles:
    - role: common
      tags: [common]
    
    - role: elasticsearch
      tags: [elasticsearch]
    
    - role: node_exporter
      tags: [monitoring, node_exporter]
      vars:
        node_exporter_version: "1.6.1"
