# roles/nginx/tasks/main.yml
---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install nginx
  apt:
    name: nginx
    state: present

- name: Configure nginx
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/default
  notify: restart nginx

- name: Create website directory
  file:
    path: /var/www/html
    state: directory
    mode: '0755'

- name: Copy default nginx index file if exists
  copy:
    src: /usr/share/nginx/html/index.html
    dest: /var/www/html/index.html
    remote_src: yes
    force: no
  ignore_errors: yes

- name: Ensure nginx is running
  systemd:
    name: nginx
    state: started
    enabled: yes
